@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);


body {
	font: 300 14px/1.8 'Lato', sans-serif;
	background-color: #f2f2f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-title {
	font: 300 44px/1.8 'Lato', sans-serif;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	color: black;
}

.structure {
	margin-left: 12%;
	margin-right: 10%;
	color: black;
	width: 500px;
}

h2 {
	font: 300 34px/1.8 'Lato', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
}

p {
	font: 300 24px/1.8 'Lato', sans-serif;
	margin-left: 12%;
	margin-right: 10%;
	color: black;
}

.link {
	font: 300 24px/1.8 'Lato', sans-serif;
	color: black;
}

.home-buttons {
	font: 300 34px/1.8 'Lato', sans-serif;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 40%;
	margin-right: 40%;
	
}

.gameID {
	font: 300 34px/1.8 'Lato', sans-serif;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 40%;
	margin-right: 40%;
	
}

.players {
	font: 300 34px/1.8 'Lato', sans-serif;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 40%;
	margin-right: 40%;
}

.home-buttons:hover {
	font: 300 34px/1.8 'Lato', sans-serif;
	background-color: black;
	color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 40%;
	margin-right: 40%;
	
}

#nav {
	font: 400 14px/1.8 'Raleway', sans-serif;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;  
	}
	
#nav ul {
	font: 400 14px/1.8 'Raleway', sans-serif;
	list-style: none;
	margin: 0 auto;
	padding: 0; 
	}
	
#nav li {
	font: 400 14px/1.8 'Raleway', sans-serif;
	float: left; 
	}
	
	
#nav li a {
	font: 400 14px/1.8 'Raleway', sans-serif;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #000000;
	border-right: 1px solid #ccc; 
	}
	
#nav li a:hover {
	color: #000;
	background-color: #f5f5f5; }

	


#score {
	font: 300 34px/1.8 'Lato', sans-serif;
	width: 100%;
	float: inherit;
	margin: 0px 0px 1px 8px;
	padding: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;  
	}
	
#score ul {
	font: 300 34px/1.8 'Lato', sans-serif;
	list-style: none;
	margin: 0 auto;
	padding: 0px 0px 0px 9px; 
		background-color: #ffffff;
	}
	
#score li {
	font: 300 34px/1.8 'Lato', sans-serif;
	float: left; 
	padding-left: 30px;
	padding-right: 30px;
	}